version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "dependabot"
      - "ci"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-name: "uv"
      - dependency-name: "urllib3"
    labels:
      - "security"
      - "dependabot"
    open-pull-requests-limit: 0
